@model List<Transaction>


    @section scripts
    {
               <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
               <script type="text/javascript">
                    var model = @Html.Raw(Json.Encode(Model));
               </script>
               <script src="~/Scripts/highcharts.js" type="text/javascript"></script>
               <script src="~/Scripts/Analysis/BarChart.js" type="text/javascript"></script>   
                <script src="~/Scripts/Analysis/PieChart.js" type="text/javascript"></script>      
        <script src="~/Scripts/Util/Util.js" type="text/javascript"></script>         
    }

    <div id="alerts-pane" style="background-color:lightcoral" class="col-md-2">
        <!-- Main Content -->
        <h2 style="text-align: center;">Alerts</h2>
        <ul>
            <li>Alert 1</li>
            <li>Alert 2</li>
            <li>Alert 3</li>
        </ul>
    </div>
    <div id="main-content" class="col-md-10">
        <div id="barChart" class="col-md-5" style="border:1px solid; border-radius:5px; border-color: gray; overflow: hidden;">
            <div id="container" style="min-width: 200px; height: 400px; margin: 0 auto; cursor: pointer;"></div>
        </div>

        <div id="pieChart" class="col-md-5" style="border:1px solid; border-radius:5px; border-color: gray; overflow: hidden;">
            <div id="pieContainer" style="min-width: 300px; height: 310px; margin: 0 auto; cursor: pointer;"></div>
        </div>
    </div>


