
@section scripts
{
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Dashboard";
}

<div id="main-content" class="col-md-2"> <!-- Main Content -->
    <h2>Alerts go here</h2>
    <ul>
        <li>Alert 1</li>
        <li>Alert 2</li>
        <li>Alert 3</li>
    </ul>
</div>
<div id="alerts-pane" class="col-md-10"> <!-- Alerts Pane-->
    Holy wow! Alerts and stuff!
</div>

