
@section scripts
{
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Dashboard";
}

<div id="main-content" class="col-md-8"> <!-- Main Content -->
    <h2>Welcome!</h2>
    Main content! Wowza!
</div>
<div id="alerts-pane" class="col-md-3"> <!-- Alerts Pane-->
    Holy wow! Alerts and stuff!
</div>

