<h2>Create a new</h2>
<div class="span12">
If 
    <select data-bind="options: availableTriggers, optionsText: 'displayText', value: selectedTrigger, optionsCaption: 'Choose a Trigger...'"></select>
Then
    <select data-bind="options: availableActions, optionsText: 'displayText', value: selectedAction, optionsCaption: 'Choose an Action...'"></select>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/IFTT/viewModel.js")
}