<h2>Create a New <span style="color: #0D723C;">Action Plan</span></h2>
<hr />
<div class="actionplan-body">
    <div class="trigger-body">
        <h2 class="item-callout">If</h2>
        <span class="custom-dropdown custom-dropdown--white dropdown-container" >
            <select class="custom-dropdown__select custom-dropdown__select--white item-dropdown" data-bind="options: availableTriggers, optionsText: 'displayText', value: selectedTrigger, optionsCaption: 'Choose a Trigger...'"></select>
        </span>
    </div>
    <div class="action-body">
        <h2 class="item-callout">&hellip;Then</h2>
        <span class="custom-dropdown custom-dropdown--white dropdown-container">
            <select class="custom-dropdown__select custom-dropdown__select--white item-dropdown" data-bind="options: availableActions, optionsText: 'displayText', value: selectedAction, optionsCaption: 'Choose an Action...'"></select>
        </span>
    </div>

    <div class="actionplan-creation-body">

        <div class="creation-row">
            <div id="trigger-1" class="trigger-cell">
                <div class="cell-content">
                    <span class="dropdown-label"></span>
                    <span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableUsers, optionsText: 'fullName', value: selectedUser, optionsCaption: 'Choose a User...'"></select></span>
                </div>
            </div>
            <div id="action-1" class="action-cell">
                <div class="cell-content">
                    <span class="dropdown-label"></span>
                </div>
            </div>
        </div>
        <div class="creation-row">
            <div id="trigger-2" class="trigger-cell">
                <div class="cell-content">
                    <span class="dropdown-label"></span>
                    <input type="text" data-bind="currency: amount, value: amount, visible: selectedTrigger() && selectedTrigger().id !== 4" />

                    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 4" class="custom-dropdown custom-dropdown--white">
                        <select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableGoals, optionsText: 'description', value: selectedGoal, optionsCaption: 'Choose a Goal...'"></select>
                    </span>
                </div>
            </div>
            <div id="action-2" class="action-cell">
                <span class="dropdown-label"></span>
            </div>
        </div>
        <div class="creation-row">
            <div id="trigger-3" class="trigger-cell">
                <div class="cell-content">
                    <span class="dropdown-label"></span>
                    <span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableTimeFrames, optionsText: 'text', value: selectedTimeFrame, optionsCaption: 'Choose a Period...'"></select></span>
                </div>
            </div>
            <div id="action-3" class="action-cell">
                <span class="dropdown-label"></span>
            </div>
        </div>
        <div class="creation-row">
            <div id="trigger-4" class="trigger-cell">
                <div class="cell-content">
                    <span class="dropdown-label"></span>
                    <span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableCategories, optionsText: 'text', value: selectedCategory, optionsCaption: 'Choose a Category...'"></select></span>
                </div>
            </div>
            <div id="action-4" class="action-cell">
                <span class="dropdown-label"></span>
            </div>
        </div>
    </div>
    <!--
    <div class="trigger-selected-info" data-bind="visible: IFTTViewModel.selectedTrigger()">
        <table>
            <tr>
                <td>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 1">Who's spending?</label>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 2">Who's withdrawing?</label>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 3">Who's depositing?</label>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 4">Who's goal?</label>
                </td>
                <td style="text-align: right;">
                    <span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableUsers, optionsText: 'fullName', value: selectedUser, optionsCaption: 'Choose a User...'"></select></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 1">Spends how much?</label>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 2">Withdraws how much?</label>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 3">Deposits how much?</label>
                    <label data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 4">Meets which goal?</label>
                </td>
                <td style="text-align: right;">
                    <input type="text" data-bind="currency: amount, value: amount, visible: selectedTrigger() && selectedTrigger().id !== 4" />

                    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 4" class="custom-dropdown custom-dropdown--white">
                        <select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableGoals, optionsText: 'description', value: selectedGoal, optionsCaption: 'Choose a Goal...'"></select>
                    </span>
                </td>
            </tr>
            <tr data-bind="if: selectedTrigger() && selectedTrigger().id === 1">
                <td>
                    <label>In what time period?</label>
                </td>
                <td style="text-align: right;">
                    <span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableTimeFrames, optionsText: 'text', value: selectedTimeFrame, optionsCaption: 'Choose a Period...'"></select></span>
                </td>
            </tr>
            <tr data-bind="if: selectedTrigger() && selectedTrigger().id === 1">
                <td>
                    <label>Where?</label>
                </td>
                <td style="text-align: right;">
                    <span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableCategories, optionsText: 'text', value: selectedCategory, optionsCaption: 'Choose a Category...'"></select></span>
                </td>
            </tr>
        </table>
    </div>--> <!-- End Trigger-->


    <div data-bind="visible: selectedAction()" class="action-selected-info">
        <table>
            <tr data-bind="if: selectedAction() && selectedAction().id === 1">
                <td><label>Your email, please?</label></td>
                <td><input type="text" data-bind="value: email" /></td>
            </tr>
            <tr data-bind="if: selectedAction() && (selectedAction().id === 2 || selectedAction().id === 3)">
                <td><label>Your phone, please?</label></td>
                <td><input type="text" data-bind="value: email" /></td>
            </tr>
            <tr data-bind="if: selectedAction() && selectedAction().id === 5">
                <td><label>How much?</label></td>
                <td><input type="text" data-bind="value: targetAmount" placeholder="Amount or Percent" /></td>
            </tr>
            <tr data-bind="if: selectedAction() && selectedAction().id === 5">
                <td><label>To which account?</label></td>
                <td><span class="custom-dropdown custom-dropdown--white"><select class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableAccounts, value: selectedAccount"></select></span></td>
            </tr>
        </table>
    </div> <!--End Action-->

</div>




<br />
<br />
<div data-bind="visible: selectedAction() && selectedAction() && (phone() || email())">
    <h2>Recap</h2>
    If <span data-bind="text: selectedUser().fullName"></span> <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 1">spends more than $<span data-bind="text: amount()"></span></span> 
    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 2">withdraws more than $<span data-bind="text: amount()"></span></span>
    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 3">deposits more than $<span data-bind="text: amount()"></span></span>
    <span data-bind="visible: selectedTrigger() && selectedTrigger().id === 4">meets his or her <span data-bind="text: selectedGoal().description"></span> goal</span>
</div>

<button style="background-color: #ec6b2f; position:absolute; bottom: 100px; right: 215px;">Make my Plan!</button>

@section Scripts {
    @Scripts.Render("~/Scripts/IFTT/viewModel.js")
}

@section Styles{
    @Styles.Render("~/Content/dropdown.css")
    @Styles.Render("~/Content/actionplan.css")

}