<h2>Create a new</h2>
<div class="span12">
If 
    <select data-bind="options: availableTriggers, optionsText: 'displayText', value: selectedTrigger, optionsCaption: 'Choose a Trigger...'"></select>
Then
    <select data-bind="options: availableActions, optionsText: 'displayText', value: selectedAction, optionsCaption: 'Choose an Action...'"></select>
</div>

<div data-bind="visible: IFTTViewModel.selectedTrigger()">
    <ul>
        <li>Who are we talking about? <select data-bind="options: availableUsers, optionsText: 'fullName', value: selectedUser, optionsCaption: 'Choose a User...'"></select></li>
        <li>
            <span data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 1">Spends more than how much?</span>
            <span data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 2">Withdraws more than how much?</span>
            <span data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 3">Deposits more than how much?</span>
            <span data-bind="visible: IFTTViewModel.selectedTrigger() && IFTTViewModel.selectedTrigger().id === 4">Meets which goal?</span>
            <input type="text" data-bind="value: amount, visible: selectedTrigger() && selectedTrigger().id !== 4" />
            <select data-bind="visible: selectedTrigger() && selectedTrigger().id === 4, options: availableGoals, optionsText: 'description', value: selectedGoal, optionsCaption: 'Choose a Goal...'"></select>
        </li>
        <li>In what time-period?</li>
        <select data-bind="options: availableTimeFrames, optionsText: 'text', value: selectedTimeFrame, optionsCaption: 'Choose a Time Period...'"></select>
        <li>Where?</li>
        <select data-bind="options: availableCategories, optionsText: 'description', value: selectedCategory, optionsCaption: 'Choose a Category...'"></select>
    </ul>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/IFTT/viewModel.js")
}