@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
                var model = @Html.Raw(Json.Encode(Model));
    </script>
    <script src="~/Scripts/highcharts.js" type="text/javascript"></script>
    <script src="~/Scripts/Analysis/BarChart.js" type="text/javascript"></script>
    <script src="~/Scripts/Analysis/PieChart.js" type="text/javascript"></script>
    <script src="~/Scripts/ammap.js" type="text/javascript"></script>
    <script src="~/Scripts/usaLow.js" type="text/javascript"></script>
    <script src="~/Scripts/Analysis/MapChart.js" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/Analysis/viewModel.js")
    @Styles.Render("~/Content/dropdown.css")
}

<style>
    td {
        padding: 10px;
    }
</style>

<table>
    <tr>
        <td style="border-right:1px solid #ddd;">
            <div>
                <div id="balanceContainer" style="min-width: 300px; height: 310px; margin: 0 auto; cursor: pointer;">
                    <h2>Hi Jake,</h2>
                    <div style="margin-top: 10px;">
                    <h4 style="display: inline; vertical-align: bottom;">Your </h4><span class="custom-dropdown custom-dropdown--white">
    <select style="color: #0D723C; font-size: 1.3em; padding-top: .1em; padding-bottom: .1em; padding-right: 1.5em; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;" class="custom-dropdown__select custom-dropdown__select--white" data-bind="options: availableAccounts, optionsText: 'accountName', value: selectedAccount"></select>
</span>
                        </div>
                    <h4>account balance is <span style="color:#4AAA42;">$3,441.07</span></h4>

                    <div>
                        <h4>It looks like you've been </h4>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div id="barChart">
                <div id="container" style="min-width: 300px; height: 310px; margin: 0 auto; cursor: pointer;"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="border-right:1px solid #ddd; border-bottom: none;">
            <div id="pieChart">
                <div id="pieContainer" style="min-width: 300px; height: 310px; margin: 0 auto; cursor: pointer;"></div>
            </div>
        </td>
        <td style="border-bottom: none;">
            <div id="mapChart">
                <div id="chartdiv" style="min-width: 300px; height: 310px; margin: 0 auto; cursor: pointer;"></div>
            </div>
        </td>
    </tr>
</table>


