@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


.body-container{
    height: 700px;
}

.actionplan-body {
    @include outer-container;

}

.trigger-body {
    @include span-columns(6);

    .header-wrapper {
        @include span-columns(1 of 6);
    }

    .select-wrapper {
        @include span-columns(5 of 6);
        @include omega();
    }
}

.action-body {
    @include span-columns(6);
    @include omega();

    .header-wrapper {
        @include span-columns(2 of 6);
    }

    .select-wrapper {
        @include span-columns(4 of 6);
    }
}


.item-callout {
    display: inline;
    vertical-align: bottom;
}


.item-dropdown {
    position: relative; 
    right: 0px;
    width: 100%;
}

.trigger-selected-info {
    @include span-columns(6);
}

.action-selected-info {
    @include span-columns(6);
}

.actionplan-creation-body {
    @include outer-container;
}

.creation-row {
    @include outer-container;
}

.trigger-cell {
    @include span-columns(6);
    @include outer-container;
    visibility: hidden;
}


.action-cell {
    @include span-columns(6);
    @include outer-container;
    visibility: hidden;
}

span .dropdown-label {
    font-weight: bold;
}
